🆕 be-BOP endpoint API technical foundations

Requirement for #2686, #2687, #2688 and #2616 

For @slashbinslashnoname to complete

Requirement specifically for Prospect - Psyduck project : strong validator per RFC 9110 §8.8.1 (check open API documentation on Zulip)